@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  display:flex;
  flex-direction:column;
}

a,
.blue {
  text-decoration: none;
  color: #0077FF;
  transition: 0.4s;
}


.home-description-library {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__title {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  & h1, img, .svg-desc {
    margin: 0 auto;
  }
}

.main-charts {
  display: flex;
  justify-content: center;
  align-items: center;
}


.list-sub-routes {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  &__item {
    & a {
      color: #D10257;
      padding: 0 1rem;
      &:hover {
        background: rgba(209, 2, 87, 0.2);
      }
    }
    & a:active {
      color: black;
    }
    & .router-link-active {
      color: var(--color-text);
    }
  }
}

.chart {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 119, 255, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
